{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
        <img src="{{ item.image.url }}" class="img-fluid">
        <a href="{{ item.get_absolute_url }}">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{object.get_category_display}}</span>
              </a>
            </div>

            <p class="lead">
              <span>${{ item.price }}</span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{item.description}}.</p>

            <a href="{{item.get_add_cart_url}}" class="btn btn-primary btn-md my-0 p">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
            </a>

            <a href="{{item.get_remove_cart_url}}" class="btn btn-danger btn-md my-0 p">Remove from cart
                <i class="fas fa-shopping-cart ml-1"></i>
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </div>
  </main>

{% endblock content %}